<% include header %>
<div class="hero-unit">
<h2>欢迎来到 Jay Sky Microblog</h2>
<p>Microblog 是一个基于 Node.js 的微博系統。</p>
</div>
<legend>注册成功</legend>
<style type="text/css">
div#reg_success{height:280px;}
#text_success{position: relative; top: 120px; font-size:21px;}
</style>
<div id="reg_success">
<meta http-equiv="refresh" content=3 URL="/" />
<p align="center"><a id="text_success" href="/">恭喜您注册成功，3秒后将自动返回微博首页，如果浏览器没有跳转，请点击这里！</a></p>
</div>
<% include footer %>